{% extends 'base.html' %}
{% block content %}

<!-- inserts -->
{% load static %}
{% static "img" as baseUrl %}

<!-- contents here -->
        
  
        
<div class="container my-3">
            
    <h3>
        <span>SHOPPING CART</span>
    </h3>

</div>    

<form action="{% url 'delete_cart' user.pk %}" method="POST">

        
<div class="container my-3">
    <table class="table">
    <thead class="thead-dark">
                <tr>
                    <th class="thumb">
                        SELECT
                    </th>
                    <th class="thumb">
                        IMAGE
                    </th>
                    <th class="destination">
                        destination
                    </th>
                    <th class="quantity">
                        QUANTITY
                    </th>
                    <th class="amount">
                        PRICE
                    </th>
                </tr>
                </thead>
                <tbody>
                <!-- 리스트 안에 담겨서 나오기 때문에 for 문을 써서 출력 -->
                {% for destination in cart %}
                    <tr>
                        <td>
                            <input type="radio" id="destination_{{ destination.id }}" name="destination" value="{{ destination.destinations.id }}" checked="checked">                                 
                        </td><td>
                               <a href="{% url 'detail' destination.destinations.pk %}">
                                    <img src="{{destination.destinations.img.url}}" alt="Image" class="img-fluid" width="100" height="100" alt="{{ destination.name }}">
                                </a>
                                
                        </td>
                        <td class="destination">
                            {{ destination.destinations.name }} 
                        </td>
                        <td class="quantity">
                            {{ destination.quantity }}
                        </td>
                        <td class="price">
                            {{ destination.destinations.price }}
                        </td>
                    </tr>
                {% endfor %}
                
                </tbody>
            </table>

        </div>

       
        <div class="container my-3">
        <table class="table">
            <thead class="thead-dark">
                        <tr><td>선택 상품을<button type="submit" name="delete_cart" value="delete_cart">삭제하기</button>
                            {% csrf_token %}

                        </td>
                        </tr>
                        
                        <tr><td><a href="{% url 'index' %}">KEEP ON SHOPPING</a>
                        </td>               
                        </tr>     
                        <tr><td><a href="{% url 'checkout' user.id %}">PLACE ORDER</a>
                        </td>               
                        </tr>     
        
        </thead></table>
        </div>

    </form>
  
{% endblock content %}